.inputs {
    border-radius: 10px;
    background: none;
    border: 1px solid #3d6457;
    padding: 10px;
}

.labels {
    font-size: 13px;
    color: #3d6457;
    font-family: sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
}
